In [1]:
list1 = ['a', 'b', 'c', 'd']
'\n'.join(list1)

'a\nb\nc\nd'

In [2]:
str1 = '\n'.join(list1)
print(str1)

a
b
c
d

In [3]:
str2 = 'abcdefg'
print(str2[:-1:])

abcdef

In [4]:
print(str2[0::])

abcdefg

In [5]:
list(str2)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [10]:
list1[1]= 'c'
print(list1)

['a', 'c', 'c', 'd']

In [11]:
str3 = ''.join(list1)
print(str3)

accd

In [14]:
sample1 = list1.pop()
print(list1)

['a', 'c', 'c']

# 할당과 복사

In [18]:
my_list1 = [1, 2, 3]

my_list은 1,2,3 원소를 가지고 있는 리스트

In [24]:
my_list2 = my_list1

In [25]:
print(my_list1)
print(my_list2)

[1, 2, 3]
[1, 2, 3]

In [26]:
my_list2.append(4)

In [27]:
print(my_list1)
print(my_list2)

[1, 2, 3, 4]
[1, 2, 3, 4]

# 복사
* copy()
* slice[:]

In [28]:
my_list_original = [10, 20, 30]

In [31]:
#1 copy() 함수 사용
my_list_copy = my_list_original.copy()
my_list_copy.append(4)

print(my_list_original)
print(my_list_copy)

[10, 20, 30]
[10, 20, 30, 4]

In [32]:
#2 slice 기법으로 복사

my_list_slice = my_list_original[:]
my_list_slice.append(40)

print(my_list_original)
print(my_list_slice)

[10, 20, 30]
[10, 20, 30, 40]

# 딕셔너리
딕셔너리를 다루는 방법과 데이터 분석을 하기 위해 사용하는 pandas의 사용법이 매우 유사

In [37]:
my_dict = {
    'name' : '소민호',
    'age' : '33'
}

print(my_dict)

{'name': '소민호', 'age': '33'}

In [38]:
print(my_dict['name'])

소민호

In [39]:
print(my_dict['age'])

33

# 문법상 딕셔너리의 데이터 추가와 수정은 똑같다
 * 없으면 새로만들고 있으면 수정함
 * dict('') = ('')

In [40]:
my_dict['email'] = 'kdkdk@gmail.com'
print(my_dict)

{'name': '소민호', 'age': '33', 'email': 'kdkdk@gmail.com'}

In [41]:
my_dict['age'] = '30'
print(my_dict)

{'name': '소민호', 'age': '30', 'email': 'kdkdk@gmail.com'}

# 딕셔너리의 결합
* dict.update(dict)

In [42]:
dict_a = {'a' : 1, 'b' : 2}
dict_b = {'c' : 3, 'd' : 4}

dict_a.update(dict_b)

print(dict_a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

key값은 '중복'불가
중복시 변경됨

In [43]:
dict_a = {'a' : 1, 'b' : 2}
dict_b = {'b' : 3, 'd' : 4}

dict_a.update(dict_b)

print(dict_a)

{'a': 1, 'b': 3, 'd': 4}

In [59]:
my_dict = {
    'a' : 10,
    'b' : 20
}

dict안에 Key값의 존재여부 확인

In [45]:
'a'in my_dict

True

In [46]:
'c'in my_dict

False

In [47]:
my_dict['a']

10

In [49]:
my_dict['c']   *key값이 없기때문에 오류발생

SyntaxError: invalid syntax (<ipython-input-49-d18ef9f1162b>, line 1)

dict의 key / value 만 분류

In [50]:
my_dict.keys()

dict_keys(['a', 'b'])

In [51]:
my_dict.values()

dict_values([10, 20])

In [52]:
my_dict.items()

dict_items([('a', 10), ('b', 20)])

딕셔너리 삭제

In [60]:
del my_dict['a']
my_dict

{'b': 20}

In [61]:
my_dict.clear()

In [62]:
my_dict

{}

# set(집합)
* 중복된 자료의 저장불가

In [63]:
set1 = {1,2,3,4,5,1,2,3,5,6,1,2}
print(set1)

{1, 2, 3, 4, 5, 6}

list, str 의 set형식으로 변경

In [64]:
my_list = [1,2,3,4,5,1,2,4,2,5,6]
set2 = set(my_list)
print(set2)

{1, 2, 3, 4, 5, 6}

In [65]:
my_str = 'letter'
set3 = set(my_str)
print(set3)

{'e', 'l', 't', 'r'}

(추가) set을 list로 변경도 가능

In [66]:
list(set3)

['e', 'l', 't', 'r']

# 데이터 분석을 하기 위한 자료구조
* 통계적, 수학적 구조 (보통 pandas)
* 머신러닝이나 딥러닝 분석 (tensor개념)

2차원배열

In [68]:
list_2dim = ([10, 20, 30],
            [40, 50, 60])
print(list_2dim)

([10, 20, 30], [40, 50, 60])

50을 뽑아내는 방법 '브라켓'사용시마다 1차원씩 줄어듬

In [74]:
list_2dim[1]

[40, 50, 60]

In [75]:
list_2dim[1][1]

50

# 판다스 사용하기
* 설치 : pip install pandas

In [82]:
import pandas as pd
import numpy as np

In [85]:
s = pd.Series([1,2,3,np.nan,6,7])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
dtype: float64

In [87]:
dates = pd.date_range('20200828', periods=10)
dates

DatetimeIndex(['2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

In [89]:
df = pd.DataFrame(np.random.rand(5,4),
                 index = [1, 2, 3, 4, 5],
                 columns = ['A', 'B', 'C', 'D'])
df

          A         B         C         D
1  0.895070  0.538613  0.260925  0.644192
2  0.767366  0.884383  0.840441  0.937889
3  0.266180  0.376823  0.529760  0.910639
4  0.280564  0.234104  0.957179  0.263413
5  0.710355  0.457783  0.626858  0.514158

index : 기준 ex)학번, 지역이름, 00별 자료 * 중복불가

In [90]:
df['A']

1    0.895070
2    0.767366
3    0.266180
4    0.280564
5    0.710355
Name: A, dtype: float64

In [92]:
df[['A','C']]

          A         C
1  0.895070  0.260925
2  0.767366  0.840441
3  0.266180  0.529760
4  0.280564  0.957179
5  0.710355  0.626858

In [93]:
column_names = ['A','D']
df[column_names]

          A         D
1  0.895070  0.644192
2  0.767366  0.937889
3  0.266180  0.910639
4  0.280564  0.263413
5  0.710355  0.514158

행선택  - .loc

In [94]:
df.loc[3]

A    0.266180
B    0.376823
C    0.529760
D    0.910639
Name: 3, dtype: float64

In [96]:
df.loc[:,['A','C']]

          A         C
1  0.895070  0.260925
2  0.767366  0.840441
3  0.266180  0.529760
4  0.280564  0.957179
5  0.710355  0.626858

df.loc[:,['A','C']]에서 , 앞은 행 / 뒤는 열

In [97]:
df.loc[1:3, ['B','D']]

          B         D
1  0.538613  0.644192
2  0.884383  0.937889
3  0.376823  0.910639

In [98]:
df['A']>0.5

1     True
2     True
3    False
4    False
5     True
Name: A, dtype: bool

In [100]:
df[ df['A']>0.3]

          A         B         C         D
1  0.895070  0.538613  0.260925  0.644192
2  0.767366  0.884383  0.840441  0.937889
5  0.710355  0.457783  0.626858  0.514158

In [101]:
df[ df>0.3]

          A         B         C         D
1  0.895070  0.538613       NaN  0.644192
2  0.767366  0.884383  0.840441  0.937889
3       NaN  0.376823  0.529760  0.910639
4       NaN       NaN  0.957179       NaN
5  0.710355  0.457783  0.626858  0.514158

B컬럼의 값이 0.3보다 큰 상태에서 A, D만 뽑아라

In [103]:
df.loc[:, ['A','D']][df['B']>0.3]

          A         D
1  0.895070  0.644192
2  0.767366  0.937889
3  0.266180  0.910639
5  0.710355  0.514158

In [104]:
df.loc[df['B']>0.3, ['A', 'D']]

          A         D
1  0.895070  0.644192
2  0.767366  0.937889
3  0.266180  0.910639
5  0.710355  0.514158

103은 혼자한 함수, 104는 강사의 답안